/* Shim to stay independent from jst_assets */
@if not (mixin-exists('icon-color')) {
	@mixin icon-color($color) {&:before{color: $color;}}
}

/* Bootstrap breakpoints, can be overridden */
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

@import "Styles/responsive_images";
@import "Styles/area";
@import "Styles/columns";
@import "Styles/google_maps";
@import "Styles/jssor_slider";
@import "Styles/tabs";
@import "Styles/youtube_video";