@mixin col-gap($width) {
	margin-left: -$width;
	margin-right: -$width;
	& > * {
		padding-left: $width;
		padding-right: $width;
	}
}

.gap-none {
	@include col-gap(0);
}
.gap-s {
	@include col-gap(5px);
}
.gap-m {
	@include col-gap(15px);
}
.gap-l {
	@include col-gap(35px);
}
.gap-xl {
	@include col-gap(60px);
}

@media (max-width: $screen-md-min - 1) {
	.gap-l, .gap-xl {
		@include col-gap(15px);
	}
}

@media (max-width: $screen-sm-min - 1) {
	.row:not(.gap-none) {
		@include col-gap(5px);
	}
}