.map {
	max-width: 100%;
	min-height: 200px;
	.gm-style-iw p {
		text-align: center;
	}
	
	/*.gm-style-iw {
		//width: auto !important;
		& > div {
			//max-width: auto !important;
		}
		p img {
			width: 160px;
			height: 160px;
			display: block;
			margin: 0 auto;
		}
	}*/
}

.map-marker {
	display: inline-block;
	max-width: 380px;
	text-align: center;
	margin: 20px;
	h4 {
		font-size: 25px;
	}
	img {
		display: block;
		margin: 0 auto;
	}
}