{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:asset.style name="jssora06" standalone="1">
	.jssora06l, .jssora06r {
		display: block;
		position: absolute;
		width: 45px;
		height: 45px;
		cursor: pointer;
		background: url(/typo3conf/ext/jst_content/Resources/Public/Vendor/jssor/img/a06.png) no-repeat;
		overflow: hidden;
	}
	.jssora06l { background-position: -8px -38px; }
	.jssora06r { background-position: -68px -38px; }
	.jssora06l:hover { background-position: -128px -38px; }
	.jssora06r:hover { background-position: -188px -38px; }
	.jssora06l.jssora06ldn { background-position: -248px -38px; }
	.jssora06r.jssora06rdn { background-position: -308px -38px; }
	.jssora06l.jssora06lds { background-position: -8px -38px; opacity: .3; pointer-events: none; }
	.jssora06r.jssora06rds { background-position: -68px -38px; opacity: .3; pointer-events: none; }
</v:asset.style>

<span u="arrowleft" class="jssora06l" style="top: 123px; left: 8px;"></span>
<span u="arrowright" class="jssora06r" style="top: 123px; right: 8px;"></span>