{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:asset.style name="jssora11" standalone="1">
	.jssora11l, .jssora11r {
		display: block;
		position: absolute;
		width: 37px;
		height: 37px;
		cursor: pointer;
		background: url(/typo3conf/ext/jst_content/Resources/Public/Vendor/jssor/img/a11.png) no-repeat;
		overflow: hidden;
	}
	.jssora11l { background-position: -11px -41px; }
	.jssora11r { background-position: -71px -41px; }
	.jssora11l:hover { background-position: -131px -41px; }
	.jssora11r:hover { background-position: -191px -41px; }
	.jssora11l.jssora11ldn { background-position: -251px -41px; }
	.jssora11r.jssora11rdn { background-position: -311px -41px; }
	.jssora11l.jssora11lds { background-position: -11px -41px; opacity: .3; pointer-events: none; }
	.jssora11r.jssora11rds { background-position: -71px -41px; opacity: .3; pointer-events: none; }
</v:asset.style>

<span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;"></span>
<span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;"></span>