{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:asset.style name="jssora15" standalone="1">
	.jssora15l, .jssora15r {
		display: block;
		position: absolute;
		width: 20px;
		height: 38px;
		cursor: pointer;
		background: url(/typo3conf/ext/jst_content/Resources/Public/Vendor/jssor/img/a15.png) no-repeat;
		overflow: hidden;
	}
	.jssora15l { background-position: -20px -41px; }
	.jssora15r { background-position: -80px -41px; }
	.jssora15l:hover { background-position: -140px -41px; }
	.jssora15r:hover { background-position: -200px -41px; }
	.jssora15l.jssora15ldn { background-position: -260px -41px; }
	.jssora15r.jssora15rdn { background-position: -320px -41px; }
	.jssora15l.jssora15lds { background-position: -20px -41px; opacity: .3; pointer-events: none; }
	.jssora15r.jssora15rds { background-position: -80px -41px; opacity: .3; pointer-events: none; }
</v:asset.style>

<span u="arrowleft" class="jssora15l" style="top: 123px; left: 18px;"></span>
<span u="arrowright" class="jssora15r" style="top: 123px; right: 18px;"></span>