{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:asset.style name="jssorb14" standalone="1">
	.jssorb14 {
		position: absolute;
	}
	.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
		position: absolute;
		width: 12px;
		height: 12px;
		background: url(/typo3conf/ext/jst_content/Resources/Public/Vendor/jssor/img/b14.png) no-repeat;
		overflow: hidden;
		cursor: pointer;
	}
	.jssorb14 div { background-position: -9px -9px; }
	.jssorb14 div:hover, .jssorb14 .av:hover { background-position: -39px -9px; }
	.jssorb14 .av { background-position: -69px -9px; }
	.jssorb14 .dn, .jssorb14 .dn:hover { background-position: -99px -9px; }
</v:asset.style>

<div u="navigator" class="jssorb14" style="bottom: 16px; right: 6px;">
	<div u="prototype"></div>
</div>