{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:asset.style name="jssort03" standalone="1">
	.jssort03 {
		position: absolute;
		width: 100%;
		height: 60px;
		left: 0;
		bottom: 0;
	}
	.jssort03 .thumbs {
		top: 0;
	}
	.jssort03 .p {
		width: 60px;
		height: 60px;
	}
	.jssort03 .p .w {
		top: 3px;
		left: 3px;
		bottom: 3px;
		right: 3px;
		border: white 1px dashed;
		box-sizing: content-box;
	}
	.jssort03 .pav .w {
		border-style: solid;
	}
</v:asset.style>

<div class="jssort03" u="thumbnavigator">

	<!-- the following background element is optional -->
	<div style="background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>

	<!-- Thumbnail Item Skin Begin -->
	<div class="thumbs" u="slides">
		<div class="p" u="prototype">
			<div class="w"><div class="t" u="thumbnailtemplate"></div></div>
			<div class="c"></div>
		</div>
	</div>
	<!-- Thumbnail Item Skin End -->
</div>